[Unit]
Description=Setup Nix-portable
ConditionPathExists=!/nix
DefaultDependencies=no
Requires=local-fs-pre.target
After=local-fs-pre.target

[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=ln -s /var/home/nix-portable /nix
ExecStopPost=chattr +i /

[Install]
WantedBy=default.target multi-user.target